

.jumbotron {
    background-color: lightcyan;
    text-align: center

}
body{
    font-family: "delicious";
    color: black;
    align-content: center;
}

.text-align {
    text-align: center;
}

.image-header {
    height: .05px;
    width: .05px;
}

.cardStyling {
    text-align: center;

}

#dirtyBirdLogo {
    max-width: 100%;
    max-height: 100%;
}