/* @font-face {
    font-family: "delicious";
    src: url('../fonts/delicious-webfont.woff');
} */

.jumbotron {
    background-color: #7CCCBC;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

body{
    font-family: "delicious";
    color: black;
    align-content: center;
    font-family: 'Karla', sans-serif;
    height: 100%;
}

.text-align {
    text-align: center;
}

.image-header {
    height: .05px;
    width: .05px;
}

.cardStyling {
    text-align: center;
    border: none;
}

#dirtyBirdLogo {
    max-width: 100%;
    max-height: 100%;
}

#song-search-form {
    width: 960px;
}

#lyrics {
    line-height: 1.5;
}

#main-content {
    min-height: 65vh;
    background-color: #FFF4CF;
}

.song-button {
    border-bottom: 1px solid gray
}

.page-wrapper {
    width: 80%;
    margin: 0 auto;
}

.card {
    border: none;
}

.btn-custom {
    background-color: #AF6DB3;
}

.btn-custom:hover {
    background-color: #FBB4FF;
}

.btn-custom-2 {
    background-color: #76B3A6;
}

#dirtyBirdImage {
    height: 40%;
    width: 40%;
}

@media (min-width: 992px) {
    .collapse.dont-collapse-sm {
      display: block;
      height: auto !important;
      visibility: visible;
    }
}