/* @font-face {
    font-family: "delicious";
    src: url('../fonts/delicious-webfont.woff');
} */

.jumbotron {
<<<<<<< HEAD
  background-color: lightcyan;
  text-align: center;
  font-family: 'Rubik', sans-serif;
=======
    background-color: #7CCCBC;
    text-align: center;
    font-family: 'Rubik', sans-serif;
>>>>>>> 73c8e4c8a96e3f258e65301836a51d4cc4f95e68
}

body{
  font-family: "delicious";
  color: black;
  align-content: center;
  font-family: 'Karla', sans-serif;
  height: 100%;
}

body {
  font-family: futura;
  align-content: center;
  text-align: center;
}
.text-align {
  text-align: center;
}

.image-header {
  height: .05px;
  width: .05px;
}

.cardStyling {
  text-align: center;
  border: none;
}

#dirtyBirdLogo {
  max-width: 100%;
  max-height: 100%;
}

#song-search-form {
  width: 960px;
}

#lyrics {
<<<<<<< HEAD
  line-height: 1.5;
  min-height: 100vh;
=======
    line-height: 1.5;
}

.main-content {
    min-height: 65vh;
    background-color: #FFF4CF;
>>>>>>> 73c8e4c8a96e3f258e65301836a51d4cc4f95e68
}

.song-button {
  border-bottom: 1px solid gray
}

.page-wrapper {
<<<<<<< HEAD
  width: 80%;
  margin: 0 auto;
}

#dirtyWordSearchButton {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
=======
    width: 80%;
    margin: 0 auto;
}

.card {
    border: none;
}

.btn-custom {
    background-color: #AF6DB3;
}

.btn-custom:hover {
    background-color: #FBB4FF;
}

#dirtyBirdImage {
    height: 40%;
    width: 40%;
>>>>>>> 659ec048cce5e6d83602c61599d5128e060c1e3e
}