/* @font-face {
    font-family: "delicious";
    src: url('../fonts/delicious-webfont.woff');
} */

.jumbotron {
    background-color: lightcyan;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

body{
    font-family: "delicious";
    color: black;
    align-content: center;
    font-family: 'Karla', sans-serif;
    height: 100%;
}

.text-align {
    text-align: center;
}

.image-header {
    height: .05px;
    width: .05px;
}

.cardStyling {
    text-align: center;
    border: none;
}

#dirtyBirdLogo {
    max-width: 100%;
    max-height: 100%;
}

#song-search-form {
    width: 960px;
}

#lyrics {
    line-height: 1.5;
    min-height: 100vh;
}

.song-button {
    border-bottom: 1px solid gray
}

.page-wrapper {
    width: 80%;
    margin: 0 auto;
}