/* @font-face {
    font-family: "delicious";
    src: url('../fonts/delicious-webfont.woff');
} */

.jumbotron {
<<<<<<< HEAD
  background-color: lightcyan;
  text-align: center;
  font-family: 'Rubik', sans-serif;
=======
    background-color: #7CCCBC;
    color: white;
    text-align: center;
    font-family: 'Rubik', sans-serif;
>>>>>>> 43b0200f9541514780226a4abf77841dde2270bf
}

body{
  font-family: "delicious";
  color: black;
  align-content: center;
  font-family: 'Karla', sans-serif;
  height: 100%;
}

.text-align {
  text-align: center;
}

.image-header {
  height: .05px;
  width: .05px;
}

.cardStyling {
  text-align: center;
  border: none;
}

<<<<<<< HEAD
#dirtyBirdLogo {
  max-width: 100%;
  max-height: 100%;
}

=======
>>>>>>> 43b0200f9541514780226a4abf77841dde2270bf
#song-search-form {
  width: 960px;
}

#lyrics {
<<<<<<< HEAD
  line-height: 1.5;
  min-height: 100vh;
=======
    line-height: 1.5;
}

#main-content {
    min-height: 65vh;
    background-color: #FFF4CF;
>>>>>>> e6b6c8b753eaa31a196298987c13bf591eff69f0
}

.song-button {
  border-bottom: 1px solid gray
}

.page-wrapper {
  width: 80%;
  margin: 0 auto;
}
<<<<<<< HEAD
.dirtyBirdImage {
  height: 40%;
  width: 40%;
=======

.btn-custom {
    background-color: #AF6DB3;
}

.btn-custom:hover {
    background-color: #FBB4FF;
}

.btn-custom-2 {
    background-color: #76B3A6;
}

#dirtyBirdImage {
    height: 40%;
    width: 40%;
}

@media (min-width: 992px) {
    .collapse.dont-collapse-sm {
      display: block;
      height: auto !important;
      visibility: visible;
    }
<<<<<<< HEAD
>>>>>>> e6b6c8b753eaa31a196298987c13bf591eff69f0
=======

}

@media (max-width: 992px) {
    #main-content {
        background-color: transparent;
    }

    #lyrics {
        font-size: 4vw;
    }

    h1 {
        font-size: 12vw !important;
    }
>>>>>>> 43b0200f9541514780226a4abf77841dde2270bf
}